<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680599013508-5kb8koa7jb4rot0fc3t4ti9ubqggusmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680599013508-5kb8koa7jb4rot0fc3t4ti9ubqggusmp</string>
	<key>API_KEY</key>
	<string>AIzaSyDFsZfWEuo6gxUiMA0_k-InFH1P3nLguCU</string>
	<key>GCM_SENDER_ID</key>
	<string>680599013508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>link.tree</string>
	<key>PROJECT_ID</key>
	<string>link-tree-27990</string>
	<key>STORAGE_BUCKET</key>
	<string>link-tree-27990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680599013508:ios:23d2303aaaf788e3aa9ad1</string>
</dict>
</plist>